div(layout="column" flex)
	md-toolbar.md-menu-toolbar.editor-toolbar(layout="row" md-whiteframe="2")
		div(layout="row" flex)
			md-toolbar-filler(layout="row" layout-align="center center" ui-sref="app.music-view({id: vm.music._id, revId: vm.musicRevision._id})")
				.mdi.mdi-library-music
			div(layout="column" flex)
				h2.md-toolbar-tools {{vm.music.name}}
				md-menu-bar
					md-menu
						button(ng-click="$mdOpenMenu()") Arquivo
						md-menu-content
							md-menu-item
								md-button(ng-click="vm.saveRevision()" aria-label="Save") Salvar
					md-menu
						button(ng-click="$mdOpenMenu()") Inserir
						md-menu-content
							md-menu-item
								md-button(aria-label="Tabs" ng-click="vm.addTabs()") Tablatura
	div(layout="row" flex)
		div(layout="column" flex)
			div(id="editor" ui-ace="vm.aceOptions" layout="row" flex)
		div(layout="column" flex)
			mcifra-decrypter(ui-if="vm.preview" content="{{vm.preview}}")