md-bottom-sheet.md-list.md-has-header
	md-subheader Ações
	div.flex-ha(layout="row" flex ng-if="!vm.playlist")
		md-progress-circular(md-mode="indeterminate")
	md-list(ng-if="vm.playlist")
		md-list-item
			.md-list-item-content(layout="row" flex ng-click="vm.toggleOfflineAccess()")
				span.mdi.mdi-wifi-off.display-flex.flex-va
				span.display-flex.flex-va  Acesso Offline
				span(flex)
				md-switch(ng-checked="vm.offlineAccess" aria-label="Switch")
		md-list-item(layout="row" flex)
			md-button.md-list-item-content(ng-click="vm.removePlaylist($event)")
				span.md-inline-list-icon-label Excluir