md-dialog(aria-label="Add Playlist Dialog")
	form(name="vm.addPlaylist" layout="column" flex ng-submit="vm.answer(playlist.name)")
		md-toolbar
			.md-toolbar-tools
				h2 Nova Playlist
				span(flex)
				md-button.md-icon-button(ng-click="vm.cancel()", aria-label="Cancel Dialog")
					.mdi.mdi-close
		md-dialog-content
				md-input-container(md-no-float layout="row" flex)
					input(type="text" name="name" ng-model="playlist.name" placeholder="Nome da playlist")
		md-dialog-actions(layout="row")
			md-button(ng-click="vm.answer(null)")
				| Cancelar
			md-button.md-raised.md-primary(ng-click="vm.answer(playlist)" type="submit")
				| Criar