md-content(layout-padding flex layout="row")
	div(layout="column" flex)
		div(layout="row")
			span.mdi.mdi-wifi-off(ng-if="vm.offlineAccess")
			span.md-headline.display-flex.flex-va {{vm.playlist.name}}
			span(flex)
			md-button.md-icon-button(ng-click="vm.showOptions()" aria-label="Playlist options" ng-show="vm.playlist")
				.mdi.mdi-dots-vertical
		div(layout="column" flex)
			md-list.playlist(layout="column" flex dragula="'sixth-bag'" dragula-model="vm.playlist.musics")
				md-list-item(layout="row" ng-repeat="music in vm.playlist.musics")
					div.playlist-item(layout="row" flex ui-sref="app.music-view({id: music.id,playlistId:vm.playlist._id})")
						.mdi.mdi-drag.draggable
						i.mdi.mdi-wifi-off(ng-if="music.offlineAccess")
						b.display-flex.flex-va(ng-if="music.type !== 'music_revision'" ui-sref="app.music-view({id: music.id, playlistId: vm.playlist._id})") {{music.name}}
						b.display-flex.flex-va(ng-if="music.type === 'music_revision'" ui-sref="app.music-view({id: music.music, revId: music.id, playlistId: vm.playlist._id})") {{music.name}}
						span(flex)
						md-button.md-icon-button(ng-click="$event.stopPropagation(); vm.removeFromPlaylist(music.id)" aria-label="Remove from playlist")
							.mdi.mdi-close