md-content(flex layout="row")
	div(layout="column" flex)
		div(hide-xs)
			div.owl-carousel(id="carousel-1" options='{"autoPlay":true,"items":3,"autoHeight":true}')
				// Don't use ng-repeat, because owl-carousel (jQuery) doesn't recognize the angular app's scope.
				div.item
					a.link(ui-sref="app.artist-list")
						img.img(ng-src="assets/imgs/mc-home-0.jpg")
						div.container-text
							h1.title Seu repertório na web
							h2.subtitle Conecte-se agora e comece a criar
				div.item
					a.link(ui-sref="app.artist-list")
						img.img(ng-src="assets/imgs/mc-home-1.jpg")
						div.container-text
							h1.title Seu artista favorito está aqui
							h2.subtitle São milhares de bandas pra você tocar
				div.item
					a.link(ui-sref="app.artist-list")
						img.img(ng-src="assets/imgs/mc-home-2.jpg")
						div.container-text
							h1.title Pronto pra arrasar?
							h2.subtitle Conheça novos ritmos
				div.item
					a.link(ui-sref="app.artist-list")
						img.img(ng-src="assets/imgs/mc-home-3.jpg")
						div.container-text
							h1.title Seu artista favorito está aqui
							h2.subtitle Conecte-se agora e comece a criar

		div.section-container.mc-home-card(layout-padding fl)
			md-card
				h1.md-title.ta-c Seja bem-vindo ao Minha Cifra!
				h1.md-title.ta-c Músicas Top 20
				div(layout="row" flex)
					div.area-greatest(flex)
						ul.list
							li.item(ng-repeat="music in vm.top20Songs[0]")
								a(ui-sref="app.music-view({id: music.id})") {{music.doc.name}} - {{music.key[1]}}
					div.area-greatest(flex)
						ul.list
							li.item(ng-repeat="music in vm.top20Songs[1]")
								a(ui-sref="app.music-view({id: music.id})") {{music.doc.name}} - {{music.key[1]}}
				img(ng-src="assets/imgs/mc-home-card.jpg" hide-gt-xs)
			