md-content(layout-padding flex layout="row")
	div(layout="column" flex)
		div(layout="row")
			span.md-headline Artistas
			span(flex)
			md-checkbox.mb-0(aria-label="Offline only" ng-click="vm.toggleOfflineOnly()" ng-checked="vm.offlineOnly") Somente offline
		div(layout="column" flex)
			md-table-container
				table(md-table md-progress='vm.promise')
					thead(md-head)
						tr(md-row)
							th(md-column) Nome
					tbody(md-body)
						tr(md-row ng-repeat="artist in vm.artists" ui-sref="app.artist-view({id: artist._id})")
							td(md-cell)
								i.mdi.mdi-wifi-off(ng-if="artist.offlineAccess")
								| {{artist.name}}
			md-table-pagination(md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.artistCount}}" md-on-paginate="vm.onPaginate" md-page-select)