md-bottom-sheet.md-list.md-has-header
	md-subheader Ações
	md-list
		md-list-item
			.md-list-item-content(layout="row" flex ng-click="vm.toggleOfflineAccess()")
				span.mdi.mdi-wifi-off.display-flex.flex-va
				span.display-flex.flex-va  Acesso Offline
				span(flex)
				md-switch(ng-checked="vm.offlineAccess" aria-label="Switch")