md-content(layout-padding flex layout="row")
	div(layout="column" flex)
		div(layout="row")
			md-progress-circular(md-mode="indeterminate" ng-if="vm.replicating")
			span.mdi.mdi-wifi-off(ng-if="vm.offlineAccess && !vm.replicating")
			span.md-headline {{vm.artist.name}}
			span(flex)
			md-button.md-icon-button(aria-label="Artist options" ng-click="vm.showOptions()" ng-if="vm.artist")
				.mdi.mdi-dots-vertical
		div(layout="column" flex)
			md-table-container
				table(md-table md-progress='vm.promise')
					thead(md-head)
						tr(md-row)
							th(md-column) Nome
					tbody(md-body)
						tr(md-row ng-repeat="music in vm.artist.musics" ui-sref="app.music-view({id: music._id})")
							td(md-cell) 
								i.mdi.mdi-wifi-off(ng-if="music.offlineAccess")
								| {{music.name}}