md-dialog(aria-label="User Dialog")
	md-toolbar
		.md-toolbar-tools
			h2 Acesse sua conta
			span(flex)
			md-button.md-icon-button(ng-click = "vm.cancel()", aria-label="Cancel Dialog")
				.mdi.mdi-close
	md-dialog-content
		div
			img(src="assets/imgs/user-picture.jpg")
		md-tabs(md-dynamic-height md-border-bottom md-selected="vm.tabs.selectedIndex")
			md-tab(label="login")
				md-content.md-padding
					p 
						| Acesse sua conta ou 
						a(href="javascript:void(0)" ng-click="vm.tabs.selectedIndex = vm.tabs.selectedIndex + 1") cadastre-se agora
						|.
					div(layout="column" flex)
						form(name="vm.loginForm" layout="column" flex ng-submit="vm.signupForm.$valid && vm.login(user)")
							md-input-container.md-block(layout="row" flex)
								label Usuário
								input(name="username" ng-model="user.username" required minlength="4" maxlength="30" ng-change="vm.loginForm.$submitted && vm.clearUsernameErrors()")
								div(ng-messages="vm.loginForm.username.$error")
									div(ng-message="unauthorized") Login ou senha incorretos.
									div(ng-message="required") Você deve informar um nome de usuário.
									div(ng-message="minlength") O nome de usuário deve ter no mínimo 4 caracteres.
									div(ng-message="maxlength") O nome de usuárido deve ter no mínimo 4 caracteres.
							md-input-container.md-block(layout="row" flex)
								label Senha
								input(name="password" ng-model="user.password" type="password" required minlength="4" maxlength="30")
								div(ng-messages="vm.loginForm.password.$error")
									div(ng-message="required") Você deve informar uma senha.
									div(ng-message="minlength") A senha deve ter no mínimo 4 caracteres.
									div(ng-message="maxlength") A senha deve ter no máximo 30 caracteres.
							md-button.md-raised.md-primary(type="submit" layout="row" ng-disabled="vm.loading")
								| Acessar
			md-tab(label="cadastro")
				md-content.md-padding
					p Cadastro
					div(layout="column" flex)
						form(name="vm.signupForm" layout="column" flex ng-submit="vm.signupForm.$valid && vm.signup(user)" novalidate)
							md-input-container.md-block(layout="row" flex)
								label Usuário
								input(name="username" ng-model="user.username" required minlength="4" maxlength="30" ng-change="vm.signupForm.$submitted && vm.clearUsernameErrors()")
								div(ng-messages="vm.signupForm.username.$error")
									div(ng-message="forbidden") Este nome é inválido. Por favor, tente outro.
									div(ng-message="conflict") Já existe um usuário com esse nome.
									div(ng-message="required") Você deve informar um nome de usuário.
									div(ng-message="minlength") O nome de usuário deve ter no mínimo 4 caracteres.
									div(ng-message="maxlength") O nome de usuárido deve ter no máximo 30 caracteres.
							md-input-container.md-block(layout="row" flex)
								label Senha
								input(name="password" ng-model="user.password" type="password" required minlength="4" maxlength="30")
								div(ng-messages="vm.signupForm.password.$error")
									div(ng-message="required") Você deve informar uma senha.
									div(ng-message="minlength") A senha deve ter no mínimo 4 caracteres.
									div(ng-message="maxlength") A senha deve ter no máximo 30 caracteres.
							md-button.md-raised.md-primary(type="submit" layout="row" ng-disabled="vm.loading")
								| Cadastrar-se
	//md-dialog-actions(layout="row")
		md-button(ng-click="answer('not useful')")
			| Not Useful
		md-button(ng-click="answer('useful')")
			| Useful