///////////////////////////////////////
// Sidenav
///////////////////////////////////////
div(layout="column")
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="sidenav-left" md-is-locked-open="$mdMedia('gt-md') && app.$state.current.name !== 'app.music-edit'" flex)
		md-toolbar.md-primary(ng-if="!app.currentUser")
			h1.md-toolbar-tools Minha Cifra
		md-toolbar.md-primary(ng-if="app.currentUser")
			div.user-toolbar(layout="column" flex) 
				img(src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/128/person-icon.png" layout="row" flex)
				p(layout="row" flex) {{app.currentUser.name}}
		md-content(layout="column" flex)
			div.flex-ha(layout="row" ng-if="!app.currentUser")
				div.flex-ha.login-call(layout="column" ng-click="app.showUserDialog($event)")
					img(src="assets/imgs/instruments.jpg")
					a.ta-c(href='javascript:void(0)') Junte-se à banda e acesse seu repertório de qualquer lugar
			md-button(layout="row" ui-sref="app.artist-list") 
				.mdi.mdi-account-multiple
				span Artistas
			md-button(layout="row" ui-sref="app.music-list") 
				.mdi.mdi-library-music
				span Músicas
			div.flex-va(layout="row" layout-padding ng-if="app.currentUser")
				span.md-title Playlists
				span(flex)
				md-button.md-icon-button(aria-label="Left sidenav" ng-click="app.showAddPlaylistDialog($event)")
					.mdi.mdi-plus.playlist-add-icon
			md-button(layout="row" ng-repeat="playlist in app.currentUser.playlists" ui-sref="app.playlist-view({id: playlist.id})") {{playlist.name}}
			div(ng-if="app.currentUser" layout="column" flex)
				md-divider
				md-button(layout="row" ng-click="app.logout()") 
					.mdi.mdi-logout
					span Logout
div(layout="column" flex)
	///////////////////////////////////
	// Top menu
	///////////////////////////////////
	md-toolbar(layout="row")
		.md-toolbar-tools
			md-button.md-icon-button(aria-label="Left sidenav" ng-click="app.toggleLeft()" hide-gt-md)
				.mdi.mdi-menu
			//h2 {{app.$state.current.data.title}}
			span(flex hide-xs)
			mc-search.flex-2(flex, layout="row")
			span(flex hide-xs)
			md-button.md-icon-button(aria-label="User account" ng-if="!app.currentUser" ng-click="app.showUserDialog($event)")
				.mdi.mdi-account
	//////////////////////////////////
	// Page content
	//////////////////////////////////
	ui-view(layout="row" flex)