div(id="bmCarousel" ng-class="mustAnimate ? 'animate' : ''")
	a.navigation.previous(href='javascript:void(0)' ng-click="move($event)") &laquo;
	a.navigation.next(href='javascript:void(0)' ng-click="move($event)") &raquo;