<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
	base(href="/")
	title Minha Cifra
	//bower:css
	//endinject
	//build:cssBundle
	//endbuild
body(ng-app="minhacifra", ng-strict-di, ng-cloak, layout="row" flex)
	link(rel="stylesheet" href="lib/OwlCarousel/owl-carousel/owl.carousel.css")
	link(rel="stylesheet" href="lib/OwlCarousel/owl-carousel/owl.theme.css")
	ui-view(layout="row" flex)
	script(src="lib/ace-editor/src/ace.js")
	script(src="lib/ace-editor/src/ext-language_tools.js")
	//bower:js
	//endinject
	//build:templateCache
	//endbuild
	//build:jsBundle
	//endbuild
	script(src="lib/OwlCarousel/owl-carousel/owl.carousel.min.js")