@import 'scss/search';
@import 'scss/sidenav';
@import 'scss/editor';
@import 'scss/carousel';
@import 'scss/custom_carousel';
@import 'scss/home';
@import 'scss/mcifra_decrypter';

.mdi { font-size: 24px; }
.display-flex { display: flex; }
.display-inline { display: inline; }
.va-b { vertical-align: bottom; }
.ta-c { text-align: center; }
md-menu-item > .md-button {display: flex;}
md-menu-item > .md-button {display: flex; align-items: center;}
.container-music-view { position: absolute; left: 8px; right: 8px; }
.flex-va { align-items: center; }
.flex-ha { justify-content: center; }
.flex-2 { flex: 2; }
.section-container { background: rgb(251, 251, 251); }
.mdi.draggable { cursor: grab; cursor: -webkit-grab; padding: 8px; }
.md-list-item-content > .mdi {margin-right: 12px;}
.avatar-sm { max-width: 32px; max-height: 32px;}
.login-call { 
	margin-top: 10px;
	& > img {
		max-width: 100%; 
		max-height: 300px; 
	}
	& > a {
		padding: 20px;
	}
}
.music-revisions { 
	md-button {
		display: flex;
		text-decoration: none;
	}
}
md-list.playlist {
    md-list-item { 
    	&:first-of-type {
    		border-top: solid 1px;
    	} 
    	border-bottom: solid 1px;

    	.playlist-item {
    		cursor: pointer;
    		&:hover {
    			background-color: rgba(158,158,158,0.2);;
    		}
    		    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    	}
    }
}
md-menu-content md-menu-item.checkbox-container {
	padding-left: 20px;
}
md-checkbox {
	display: flex;
	align-items: center;

	&.mb-0 {
		margin-bottom: 0;
	}
}

table.md-table tbody.md-body > tr.md-row {
	&:hover {background-color: rgba(158,158,158,0.2); cursor: pointer;}
}
md-card {
	.card-icon-actions-top, .card-icon-actions-bottom {
		text-align: center;
		.md-button {
			margin: 0;

			.mdi{
				font-size: 24px;
				font-weight: normal;
			}
		}
	}

	.md-button {
		.mdi {
			font-size: 16px;
			font-weight: bold;

			&.mdi-pencil, &.mdi-share {
				margin-right: 2px;
				font-weight: normal;
			}
		}
	}
}

md-card md-card-header {
	padding-bottom: 0;
}

md-input-container {
	margin: 4px;
}

#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; }