#carousel-1 {
    .owl-wrapper-outer {
        .owl-wrapper {
            .owl-item {
                .item {
                    .link { position: relative; display: block; font-size: 0;
                        .img { width: 100%; }
                        .container-text { position: absolute; bottom: 0; left: 0; right: 0;
                            color: #fff; text-align: center; padding: 10px; background-color: #000;
                            background-color: rgba(0, 0, 0, .4); padding-top: 40px;
                            background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .4) 80%);
                            .title { margin: 0; font-size: 16px; line-height: 20px; }
                            .subtitle { margin: 0; font-size: 14px; font-weight: 300; line-height: 18px; }
                        }
                    }                    
                }
            }
        }
    }
    .owl-controls {
        .owl-buttons {
            .owl-prev {
                i {}
            }
            .owl-next {
                i {}
            }
        }
        .owl-pagination {
            .owl-page {
                span { background-color: #3f51b5; }
                &.active {
                    span {}
                }
            }
        }
    }
}

#bmCarousel {
    overflow:hidden;
    padding:0;
    position:relative;
}

/* navigation items */
#bmCarousel .navigation {
    background:rgba(0,0,0,0.1);
    color:rgba(255,255,255,0.1);
    display:block;
    font-family:verdana,sans-serif;
    font-size:3em;
    height:220px;
    padding-top:115px;
    position:absolute;
    text-align:center;
    text-shadow:rgba(0,0,0,0.1) 0 0 2px;
    width:50px;
    -moz-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    text-decoration: none;
    z-index: 5;
}

#bmCarousel:hover .navigation {
    background:rgba(0,0,0,0.3);
    color:rgba(255,255,255,0.8);
    text-shadow:rgba(0,0,0,0.7) 0 0 2px;
}

#bmCarousel .navigation:hover {
    background:rgba(0,0,0,0.5);
}

#bmCarousel .previous {
    left:0;
}

#bmCarousel .next {
    right:0;
}

/* carousel container */
#bmCarousel ul {
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -o-box-orient:horizontal;
    box-orient:horizontal;

    display:-moz-box;
    display:-ms-box;
    display:-webkit-box;
    display:-o-box;
    display:box;
    
    list-style-type:none;
    margin: 0;
    margin-left:-200px;
    padding:0;
}

/* standard width and height for the carousel items */
#bmCarousel li {
    width:450px;
    height:300px;
}

/* animation properties for the carousel */
#bmCarousel.animate ul {
    -moz-transition:margin 0.25s ease-out;
    -ms-transition:margin 0.25s ease-out;
    -webkit-transition:margin 0.25s ease-out;
    -o-transition:margin 0.25s ease-out;
    transition:margin 0.25s ease-out;
}