#bmCarousel {
	background: black;
}

#bmCarousel li {
	box-shadow: inset 0 -100px 40px 0px rgba(0,0,0,0.75);
	display: block;

	.link {
		text-decoration: none;
		position: absolute;
		width: 450px !important;
		height: 300px !important;
		background: rgba(0,0,0,0);
		-webkit-transition: all 0.1s linear;
	       -moz-transition: all 0.1s linear;
	        -ms-transition: all 0.1s linear;
	         -o-transition: all 0.1s linear;
	            transition: all 0.1s linear;
		&:hover {
			background:rgba(0,0,0,0.3);
		}
	}

	.title {
		margin-top: 220px !important;
		bottom: 48px;
		margin: 0 auto;
		text-align: center;
		font-size: 32px;
		color: white;
	}

	.caption {
		bottom: 0;
		font-size: 16px;
		color: white;
		text-align: center;
	}
}