.mc-home-card {
	img {
		max-width: 100%;
		max-height: 100%;;

	}
}

.area-greatest { padding: 20px; text-align: center;
	.list { margin: 0; padding: 0;
		.item {	display: block; padding: 6px 0;
			a { text-decoration: none; color: #444; line-height: 20px;
				&:hover { text-decoration: underline; }
			}
		}
	}
}