.mcifra-panel { overflow-x: auto; font-family: monospace;
	line-height: 40px; position: relative; padding: 10px; box-shadow: border-box; }
.mcifra-panel div { box-shadow: border-box; }
.mcifra-panel .mcifra-panel-inner { }
.mcifra-panel .mcifra-comment-area { color: #1f995c; line-height: 22px;
	background-color: #f7f7f7; padding: 10px; margin-bottom: 20px; border: 1px solid #eee; }
.mcifra-panel .mcifra-tab-area { line-height: 22px; padding: 10px 0; margin-bottom: 20px; }
.mcifra-panel .mcifra-tab-area .t-col {
	width: 8px; word-wrap: break-word; display: inline-block; margin: 10px 0;
}
.mcifra-panel .mcifra-block-chord { position: absolute; 
	margin-top: -20px; font-weight: 700; color: red; }
.mcifra-panel .mcifra-inline-chord { color: red; font-weight: 700; }

.tone-up {
	position: fixed;
	right: 5%;
	top: 20%;
}
.tone-down {
	position: fixed;
	right: 5%;
	top: 30%;
}
.next {
	position: fixed;
	right: 5%;
	bottom: 5%;
}
.previous {
	position: fixed;
	margin-left: 2px;
	bottom: 5%;
}