/* .search-box {
	max-width: 750px;
	background: white;
	padding: 6px 24px;
	border-radius: 2px;
	border: none;

	.mdi {
		color: #767676;
		margin-right: 12px;
	}

	input, md-autocomplete {
		border: none;
		outline: none;
	    background: none;
	    margin: 0;
	    box-sizing: border-box;
	    text-decoration: none;
	    box-shadow: none;
	}
} */

/* md-autocomplete {
	border: none;
	outline: none;
    background: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: none;
} */