md-sidenav.md-sidenav-left {
	.md-button {
		color: rgba(0, 0, 0, 0.80);
	    text-transform: none;
	    margin: 0;
	    text-align: left;
	    padding-left: 15px;
	    display: flex;
	    height: 48px;
	    font-size: 16px;

	    .mdi {
	    	margin-right: 16px;
	    }
    }
}

.user-toolbar {
	img {
		max-width: 128px;
		max-height: 128px;
		margin: 8px auto;
	}

	p {
		margin: 8px auto;
	}
}

.mdi.playlist-add-icon {
	position: relative;
    left: -6px;
    top: -3px;
}