.search-box(layout="row" flex)
	md-autocomplete(flex md-selected-item="vm.selectedItem" md-search-text-change="vm.searchTextChange(vm.searchText)" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-no-cache="false" md-min-length="4" placeholder="O que deseja tocar?" md-search-text="vm.searchText")
		md-progress-linear(md-mode="indeterminate")
		md-item-template
			span(md-highlight-text="vm.searchText" md-highlight-flags="^i") {{item.name + " - " + item.artist}}
		md-not-found Nenhum resultado para '{{vm.searchText}}' encontrado.
	//input.search-box-input(flex type="text" ng-enter="vm.search(searchTerm)" ng-model="searchTerm")