md-content(layout-padding flex layout="row")
	div(layout="column" flex)
		div(layout="row")
			span.md-headline Músicas
			span(flex)
			md-checkbox.mb-0(aria-label="Offline only" ng-click="vm.toggleOfflineOnly()" ng-checked="vm.offlineOnly") Somente offline
		div(layout="column" flex)
			md-table-container
				table(md-table md-progress='vm.promise')
					thead(md-head)
						tr(md-row)
							th(md-column) Nome
							th(md-column) Artista
					tbody(md-body)
						tr(md-row ng-repeat="music in vm.musics" ui-sref="app.music-view({id: music._id})")
							td(md-cell)
								i.mdi.mdi-wifi-off(ng-if="music.offlineAccess")
								| {{music.name}}
							td(md-cell) {{music.artist}}
			md-table-pagination(md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.musicCount}}" md-on-paginate="vm.onPaginate" md-page-select md-options="[50, 100, 150]")