md-content.section-container(layout-padding flex layout="row")
		md-card.container-music-view
			md-card-header
				div(layout="row" flex)
					md-card-avatar
						img(src="assets/imgs/logo.png")
					md-card-header-text
						span.md-title(ng-if="vm.musicRevision.author") {{vm.musicRevision.author}}
						span.md-title(ng-if="!vm.musicRevision.author") Minha Cifra
						span.md-subhead Violão
						a.md-caption(ui-sref="app.music-view({id: vm.music._id, revId: ''})" ng-if="vm.musicRevision.author") Ver versão original
				div(hide-xs)
					button(ng-click="vm.increaseFontSize()") A+
					button(ng-click="vm.decreaseFontSize()") A-
					md-menu
						md-button(aria-label="Add" ng-click="vm.buildPlaylistIndex(app.currentUser.playlists); vm.showAddToPlaylistMenu($mdOpenMenu, $event)")
							.mdi.mdi-plus(md-menu-origin)
							| Adicionar a
						md-menu-content(width="4")
							div(layout="row" ng-show="vm.buildingPlaylistIndex")
								md-progress-circular(md-mode="indeterminate")
								span.display-flex.flex-va Carregando playlists...
							md-menu-item.checkbox-container(ng-if="!vm.buildingPlaylistIndex" ng-repeat="playlist in vm.playlistIndex")
								md-checkbox(ng-checked="playlist.currentMusic.contains" ng-click="vm.toggleMusicAtPlaylist(playlist)" aria-label="Checkbox" md-prevent-menu-close="md-prevent-menu-close")
									span {{playlist.name}}
							md-menu-divider(ng-if="!vm.buildingPlaylistIndex && vm.playlistIndex.length > 0")
							md-menu-item(ng-if="!vm.buildingPlaylistIndex")
								md-button(ng-click="app.showAddPlaylistDialog($event)") Criar nova playlist
					md-button.va-b(ng-if="app.currentUser.name === vm.musicRevision.author || !vm.musicRevision.author" aria-label="Edit" ui-sref="app.music-edit({id: vm.music._id, revId: vm.musicRevision._id})")
						.mdi.mdi-pencil
						| Editar
					md-button(aria-label="Share")
						.mdi.mdi-share
						| Compartilhar
				div.card-icon-actions-top(hide-gt-xs)
					md-menu(ng-if="app.currentUser")
						md-button.md-icon-button(aria-label="Add" ng-click="vm.buildPlaylistIndex(app.currentUser.playlists); vm.showAddToPlaylistMenu($mdOpenMenu, $event)")
							.mdi.mdi-plus(md-menu-origin)
						md-menu-content(width="4")
							div(layout="row" ng-show="vm.buildingPlaylistIndex")
								md-progress-circular(md-mode="indeterminate")
								span.display-flex.flex-va Carregando playlists...
							md-menu-item.checkbox-container(ng-if="!vm.buildingPlaylistIndex" ng-repeat="playlist in vm.playlistIndex")
								md-checkbox(ng-checked="playlist.currentMusic.contains" ng-click="vm.toggleMusicAtPlaylist(playlist)" aria-label="Checkbox" md-prevent-menu-close="md-prevent-menu-close")
									span {{playlist.name}}
							md-menu-divider(ng-if="!vm.buildingPlaylistIndex && vm.playlistIndex.length > 0")
							md-menu-item(ng-if="!vm.buildingPlaylistIndex")
								md-button(ng-click="app.showAddPlaylistDialog($event)") Criar nova playlist
					md-button.md-icon-button(aria-label="Add" ng-click="vm.showOptionsBottomSheet()")
						.mdi.mdi-dots-vertical(md-menu-origin)
			md-card-title
				md-card-title-text
					span.md-title 
						| {{vm.music.name}} 
						i.mdi.mdi-wifi-off(ng-if="vm.offlineAccess")
					span.md-caption {{vm.artist.name}}
			md-card-content
				md-button.md-fab.md-primary.tone-up(ng-click="vm.upTone()") +1/2
				md-button.md-fab.md-primary.tone-down(ng-click="vm.downTone()") -1/2
				md-button.md-fab.md-primary.next(ng-click="vm.nextMusic()") Prox
				md-button.md-fab.md-primary.previous(ng-click="vm.previousMusic()") Ant
				
				mcifra-decrypter(ng-style="{'font-size':vm.fontSize+'px'}" ng-if="vm.musicRevision.instruments.guitar.content && !vm.loading" content="{{vm.musicRevision.instruments.guitar.content}}")
				mcifra-decrypter(ng-style="{'font-size':vm.fontSize+'px'}" ng-if="vm.music.instruments.guitar.content && !vm.loading && !vm.musicRevision" content="{{vm.music.instruments.guitar.content}}")
				div(layout="column" flex ng-if="vm.musicRevisions.length !== 0")
					div(layout="row")
						span Suas edições
					div.music-revisions(layout="row")
						md-button.md-primary.flex-va(ui-sref="app.music-view({id: vm.music._id, revId: revision._id})" ng-repeat="revision in vm.userRevisions" layout="row")
							span {{revision.author}}
						a(ui-sref="app.music-edit({id: vm.music._id})" ng-if="vm.musicRevisions.length === 0")
							span Você ainda não editou esta música. Comece agora!
				div(layout="column" flex)
					div(layout="row")
						span Edições da comunidade
					div.music-revisions(layout="row")
						md-button.md-primary.flex-va(ui-sref="app.music-view({id: vm.music._id, revId: revision._id})" ng-repeat="revision in vm.musicRevisions" layout="row")
							span {{revision.author}}
						a(ui-sref="app.music-edit({id: vm.music._id})" ng-if="vm.musicRevisions.length === 0")
							span Nenhuma edição. Seja o primeiro!
			md-card-actions(layout="row" layout-align="center center" hide-xs)
				md-button(aria-label="Add")
					.mdi.mdi-plus
					| Adicionar a
				md-button.display-inline(aria-label="Edit")
					.mdi.mdi-pencil
					| Editar
				md-button(aria-label="Share")
					.mdi.mdi-share
					| Compartilhar
			md-card-icon-actions.card-icon-actions-bottom(hide-gt-xs)
				md-button.md-icon-button(aria-label="Add")
					.mdi.mdi-plus
				md-button.md-icon-button(aria-label="Edit")
					.mdi.mdi-pencil
				md-button.md-icon-button(aria-label="Share")
					.mdi.mdi-share